*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# add the openCV library so we don't have to push that massive thing every time
openCVLibrary341
